*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    padding: 20px;
    background-color: white;
    flex-direction: row;
}       

.logo{
    width: 40%;
}

.menu{
    width: 60%;
    padding-top: 20px;
    text-align: right;
    font-family: Verdana;
}

.menu a{
    color:black;
    text-decoration: none;
    font-weight:bold;
    margin-right: 14px;
}

.titulo {
    font-family: monospace;
    font-size: 16px;
    color: white;
    padding: 70px;
    width: 1400px;
    text-align: center;
}
